.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 30%;
  background-color: orange;
  align-items: center;
}

.Notelist {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.note button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: lightseagreen;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
}



